---
const { name, description, price, imageUrl, category } = Astro.props;

const isMultiSize = (price: any) => {
  return price && typeof price === "object" && Array.isArray(price.size);
};

const getSizeLabel = (size: any) => size["@_label"] || "?";
const getSizePrice = (size: any) => size["#text"] || size;

const formatPrice = (priceStr: any) => {
  const num = parseFloat(priceStr);
  return isNaN(num) ? priceStr : num.toFixed(2);
};
---

<article
  class="flex flex-col gap-4 md:gap-6 rounded-md bg-secondary/30 shadow-xs px-3 md:px-4 py-4 md:py-6"
>
  <div class="flex sm:flex-row gap-3 md:gap-4">
    <div
      class="w-28 h-28 md:w-32 md:h-32 shrink-0 rounded-lg overflow-hidden bg-white border border-primary/20 shadow-xs"
    >
      <img src={imageUrl} alt={name} class="w-full h-full object-cover" />
    </div>
    <div class="flex flex-col gap-1 md:gap-2 pr-0 md:pr-2">
      <h3 class="text-tertiary font-bold text-xl md:text-2xl">{name}</h3>
      <p class="text-lg leading-tight italic">
        {description}
      </p>
    </div>
  </div>
  {
    isMultiSize(price) ? (
      <div class="self-end flex flex-wrap gap-2">
        {price.size.map((size: any) => (
          <p class="font-semibold text-sm md:text-base bg-secondary py-1 px-2 rounded-lg">
            {getSizeLabel(size)}: $ {formatPrice(getSizePrice(size))}
          </p>
        ))}
      </div>
    ) : (
      <p class="self-end font-semibold text-sm md:text-base bg-secondary py-1 px-2 rounded-lg">
        $ {formatPrice(price)}
      </p>
    )
  }
</article>
